  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Navigation bar CSS */
  .topnav {
    overflow: hidden;
    background-color: #333;
    margin: 0;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /* Banner CSS */
  .banner {
    margin: 0;
    overflow: hidden;
    display: block;
    text-align: center;
    background-color: #333;
  }

  /* Content CSS */
  .content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    padding: 2%;
    text-align: center;
    background-image: url('images/Banner.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    color: white;
    text-shadow:
    -1px -1px 1px #000,
    1px -1px 2px #000,
    -1px 1px 1px #000,
    1px 1px 1px #000; 
  }

  #informatik {
    background-image:  url('images/Banner.jpg');
  }

  #matematik {
    background-image:  url('images/Banner.jpg');
  }

  #engelsk {
    background-image:  url('images/Banner.jpg');
  }

  #so {
    background-image:  url('images/Banner.jpg');
  }

  #dotdotdot {
    background-image:  url('images/Banner.jpg');
  }x

  #dansk {
    background-image:  url('images/Banner.jpg');
  }

  .content .element {
    max-width: 49%;
    margin: 0 auto;
    text-align:center; 
  }

  .content .element p {
    text-align: left;
  }
  
  .content .element h2 {
    text-align: left;
  }

 .content .left {
    float: left;
  }

  .content .right {
    float: right;
  }

  @media screen and (max-width: 600px) {
    .content {
      margin-left: 2%;
      margin-right: 2%;
    }

    .content .element {
      float: none;
      max-width: 80%;
    } 
  }

  #profile-picture {
    max-width: 50%;
    border-radius: 50px;
  }

  /* Accordion CSS */
  .accordion {
    background-color: transparent;
    color: rgb(253, 253, 253);
    text-shadow:
    -1px -1px 1px #000,
    1px -1px 1px #000,
    -1px 1px 1px #000,
    1px 1px 1px #000; 
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .accordion:hover {
  border: solid 1px rgb(119, 119, 119);
  }
  
  .panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }


  /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

